@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@keyframes bounce {
  0% {
    top: 16vh;
    transform: scaleY(1); }
  98% {
    top: 20vh; }
  100% {
    transform: scaleY(0.8); } }
::-webkit-scrollbar {
  width: 14px;
  height: 14px; }

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: none; }
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
    transition: ease-in-out 300s; }

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: none; }

::-webkit-scrollbar-corner {
  background: transparent; }

.menu-container {
  position: absolute;
  width: 100%;
  top: 64px;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: nowrap; }

.menu-item {
  display: flex !important;
  width: 100%;
  margin: 0;
  background: #323232; }

img {
  image-rendering: -webkit-optimize-contrast; }

#about-website {
  background: #323232; }

#map {
  height: 75vh; }

.map-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
  padding: 1% 3.5%;
  height: 40vh;
  width: 45vh;
  background: #ffd624;
  z-index: 9; }
  .map-content h2 {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    color: #ffffff;
    z-index: 99; }
  .map-content p {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px; }

* {
  margin: 0;
  padding: 0;
  border: 0; }
  * body {
    overflow-x: hidden; }
    * body nav {
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      height: 64px;
      width: 100%;
      background: transparent;
      z-index: 999;
      transition: ease-in-out 300ms; }
      * body nav .nav-top {
        display: flex; }
        * body nav .nav-top .logo {
          height: 64px;
          width: 127px;
          margin: 0 auto 0 25px; }
          * body nav .nav-top .logo a {
            height: 64px;
            opacity: 1; }
        * body nav .nav-top .menu {
          display: none;
          margin: 0 0 0 auto;
          height: 64px;
          width: 64px;
          background: transparent;
          outline: none; }
          * body nav .nav-top .menu .fa {
            margin: 0 auto;
            font-size: 24px;
            line-height: 64px;
            cursor: pointer;
            color: #ffffff; }
      * body nav ul {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        max-width: 1600px;
        justify-content: flex-end; }
        * body nav ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 64px;
          margin-right: 25px;
          list-style-type: none; }
          * body nav ul li a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            color: #ffffff;
            opacity: 0.7;
            transition: ease-in-out 300ms; }
            * body nav ul li a:hover {
              opacity: 1; }
    * body .header {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      width: 100%;
      background: url("../img/hero.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      * body .header .main-header {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 1600px; }
        * body .header .main-header img {
          height: 175px;
          width: 175px;
          margin-bottom: 25px;
          border-radius: 50%;
          border: 4px solid #ffffff; }
        * body .header .main-header h1 {
          font-family: "Lato", sans-serif;
          font-size: 5vmax;
          color: #ffffff; }
        * body .header .main-header p {
          font-family: "Lato", sans-serif;
          font-size: 2vmax;
          color: rgba(255, 255, 255, 0.7); }
        * body .header .main-header .fa {
          position: relative;
          font-size: 64px;
          color: rgba(255, 255, 255, 0.7);
          animation: bounce 300ms cubic-bezier(0.6, -0.25, 1, 1) infinite alternate; }
    * body .experience {
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: background 0.2s ease; }
      * body .experience .main-experience {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5% 0;
        width: 100%;
        background: #ffffff; }
        * body .experience .main-experience .main-experience-container {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          margin: 0 10%;
          max-width: 1600px; }
          * body .experience .main-experience .main-experience-container h2 {
            margin: 0 0 40px 0;
            font-family: "Roboto", sans-serif;
            font-size: 48px;
            font-weight: 500;
            color: #323232; }
          * body .experience .main-experience .main-experience-container .main-experience-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1600px; }
            * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info {
              display: flex;
              flex-direction: column; }
              * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .fa {
                text-align: center;
                line-height: 58px;
                border: 3px solid #323232;
                border-radius: 50%;
                height: 1.5em;
                width: 1.5em;
                font-size: 36px;
                padding: 5px;
                color: #323232; }
              * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .main-experience-text-info-box {
                position: relative;
                left: 35px;
                padding: 25px 0 25px 20px;
                border-left: 3px solid #323232; }
                * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .main-experience-text-info-box h3 {
                  font-family: "Roboto", sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  color: #323232; }
                * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .main-experience-text-info-box p {
                  font-family: "Roboto", sans-serif;
                  font-size: 14px;
                  font-weight: 400;
                  color: rgba(50, 50, 50, 0.7);
                  margin-top: 5px; }
                  * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .main-experience-text-info-box p:before {
                    content: "";
                    font-family: FontAwesome;
                    margin-right: 5px; }
                * body .experience .main-experience .main-experience-container .main-experience-text .main-experience-text-info .main-experience-text-info-box::before {
                  position: absolute;
                  top: 29px;
                  left: -8px;
                  content: "";
                  height: 10px;
                  width: 10px;
                  border-radius: 50%;
                  border: 2px solid #ffffff;
                  background: #00B8D4; }
    * body .about {
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: background 0.2s ease;
      background: #00B8D4; }
      * body .about .main-about {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5% 0;
        width: 100%; }
        * body .about .main-about .main-about-container {
          display: flex;
          flex: 1;
          flex-wrap: wrap;
          justify-content: center;
          margin: 25px 10%;
          max-width: 1600px; }
          * body .about .main-about .main-about-container .main-about-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1600px;
            margin-right: 75px; }
            * body .about .main-about .main-about-container .main-about-text h2 {
              margin: 0 0 20px 0;
              font-family: "Roboto", sans-serif;
              font-size: 48px;
              font-weight: 500;
              color: #ffffff; }
            * body .about .main-about .main-about-container .main-about-text p {
              margin: 0 0 20px 0;
              font-family: "Roboto", sans-serif;
              font-size: 20px;
              font-weight: 500;
              color: rgba(255, 255, 255, 0.7); }
            * body .about .main-about .main-about-container .main-about-text .main-about-text-logo {
              display: flex;
              flex-wrap: wrap; }
              * body .about .main-about .main-about-container .main-about-text .main-about-text-logo .main-about-text-logo-info {
                display: flex;
                align-items: center;
                margin-top: 10px; }
                * body .about .main-about .main-about-container .main-about-text .main-about-text-logo .main-about-text-logo-info .fa {
                  font-size: 72px;
                  color: #ffffff; }
                * body .about .main-about .main-about-container .main-about-text .main-about-text-logo .main-about-text-logo-info .main-about-text-logo-info-container {
                  display: flex;
                  max-width: 250px; }
                  * body .about .main-about .main-about-container .main-about-text .main-about-text-logo .main-about-text-logo-info .main-about-text-logo-info-container p {
                    margin: 0 0 0 10px;
                    color: #ffffff; }
          * body .about .main-about .main-about-container .main-about-image {
            display: flex;
            align-items: center;
            justify-content: center; }
            * body .about .main-about .main-about-container .main-about-image img {
              height: 345px;
              width: 345px; }
    * body #main-projects {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      * body #main-projects .main-projects-text {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 1600px; }
        * body #main-projects .main-projects-text a {
          display: flex;
          justify-content: center;
          width: 300px;
          padding: 0 5%; }
          * body #main-projects .main-projects-text a img {
            max-height: 400px;
            image-rendering: -webkit-optimize-contrast; }
            * body #main-projects .main-projects-text a img:hover {
              transform: scale(0.95) !important; }
    * body footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 25vh;
      background: #323232; }
      * body footer #contact {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 25px;
        max-width: 1550px;
        height: 100%; }
        * body footer #contact .title {
          margin-bottom: 10px;
          font-family: "Lato", sans-serif;
          font-size: 22px;
          color: white; }
        * body footer #contact .contact-text {
          margin-top: 15px;
          display: flex; }
          * body footer #contact .contact-text img {
            height: 21px;
            width: 21px; }
          * body footer #contact .contact-text a {
            margin-left: 10px;
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            text-decoration: none;
            transition: ease-in-out 300ms; }
            * body footer #contact .contact-text a:hover {
              color: #ffd624; }

@media(max-width: 1445px) {
  * body .main-about-text-logo-info {
    margin-bottom: 10px; } }
@media(max-width: 1025px) {
  * body .map-content {
    margin: 0;
    padding: 50px;
    width: calc(100vw - 100px);
    height: 100%;
    position: inherit; }

  * body .about .main-about .main-about-container .main-about-image img {
    height: 275px;
    width: 275px; } }
@media(max-width: 768px) {
  * body .map-content {
    margin: 0;
    padding: 50px;
    width: calc(100vw - 100px);
    height: 100%;
    position: inherit; }

  * body .about .main-about .main-about-container .main-about-image img {
    margin-top: 50px;
    height: 50vw;
    width: 50vw; }

  * body #main-projects .main-projects-text, * body #main-projects .main-projects-text a {
    padding: 5%; }

  * body .about .main-about .main-about-container .main-about-text {
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
